body {
  font-family: helvetica;
  text-align: center;
}
.header,
.middle{
  background-image: url('../images/building.png');
  background-size: cover;
  color: white;
}
nav{
  text-decoration: underline;
  font-size: 18px;
}
h1{
  font-size: 70px;
}
h2{
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 14px;
}
.footer{
  text-align: left;
  background-color: dimgray;
  color:white;
}
